@import '_common.scss';

th, td {
  padding: .5rem .75rem;
}
th {
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 1em;
}

tr {
  transition: background .3s;

  &:hover {
    background: rgba(221, 255, 177, 0.33);
    transition: background .2s;
  }

  &.header:hover {
    background: none;
  }
}

/* 'better' jumplist:
  1. doesn't wrap pipes at beginning of new lines
  2. makes entire region clickable between pipes
*/
.jumplist {
  margin-top: 2em;

  /* first override 'default' rules */
  > a {
    margin: 0;

    + a:before {
      content: '';
      margin: 0;
    }

    /* now set 'new' rules */
    padding-left: .75em;

    &:not(:last-child):after {
      color: #ccc;
      display: inline-block;
      content: '|';
      margin: 0 0 0 .75em;
    }
  }
}

.sort {
  display: flex;

  > p {
    margin: 1em .5em 0 0;
    padding: 1px;
  }

  > ul {
    display: flex;
  }

  a {
    display: inline-block;
    padding: 1px 12px;
  }

  .selected {
    background: #3d5e80;
    border-radius: 20px;
    color: #fff;
    cursor: default;
    text-decoration: none;
  }
}
